html, body {
    margin: 0;
    padding: 0;
}


body {
    background: #121212;
    height: 100vh;
}

#header::before {
    content: "";
    background: #2E2E2F url("images/background-cropped.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .20;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
}

#header {
    position: relative;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header a, h1 {
    padding: 1em;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 1;
}

/* Form */

#search-form {
    position: absolute;
    top: 185px;
    bottom: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#search-form i {
    color: #9CA3AF;
    padding: 10px 0px 10px 15px;
    background: #2E2E2F;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#search-form input {
    background: #2E2E2F;
    color: #9CA3AF;
    border: none;
    width: 342;
    padding-top: 9px;
    padding-right: 13px;
    padding-bottom: 9px;
    padding-left: 13px;
    gap: 8px;
}

#search-form button {
    background: #4B4B4B;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px 20px;
}

#movie-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #2E2E2F;
    margin: auto;
    padding: 5em;
}

.movie-card {
    display: flex;
    color: white;
}

.inner-div {
    display: flex;
    flex-direction: column;
}

.movie-info {
    display: flex;
    justify-content: space-between;
}

.movie-title {
    display: flex;
    justify-content: space-around;
}