html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #121212;
    height: 100vh;
}

#header::before {
    content: "";
    background: #2E2E2F url("images/background-cropped.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .20;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
}

#header {
    position: relative;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header a, h1 {
    padding: 1em;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 1;
}

#list-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #787878;
    padding: 5em;
}

#list-placeholder a {
    display: block;
    color: #FFFFFF;
    background: #121212;
    border: none;
    text-decoration: none;
}

#list-placeholder i {
    background: #FFFFFF;
    color: #121212;
    border-radius: 50%;
}

#list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: auto;
}

.movie-card {
    display: flex;
    color: #A5A5A5;
    width: 80%;
    margin: 0 100px;
    padding: 50px;
}

.inner-div {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.movie-info {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: .9em;
}

.movie-title {
    display: flex;
    font-size: 1.2em;
    color: #FFFFFF;
}

.star, .movie-rating {
    padding-top: 25px;
    margin: 0 0 10px 10px;
}

.run-time, .genre, .remove-tbn {
    padding: 0 40px;
}

.plot {
    font-size: 1em;
}

hr {
    margin: 10px 150px;
    border: 1.5px solid #E5E7EB;
    width: 80%;
}